# Orient-Anything
venv
.venv
src/render_module
*.pyc
*.lock
*/blobs/*
*/refs/*
*.safetensors
models--facebook--dinov2-large/*
models--Viglong--Orient-Anything/*
*/snapshots/*
.locks
*__pycache__*
output_pipe
output
img0.png
img20.png
obrazek*
image-*.jpg
image_*.jpg
cropped_image.jpg
intermediate*.png
project.log
wynik.png
image.jpg
.DS_Store
soeur.jpeg